{% extends 'base.html' %}
{% block content %}
   <style>
   .text-heading {
        font-weight: 600;
   }

   .paragraph{
       padding-left: 2.5em;
   }

   </style>
  <div class="container">
  <div class="col">
    <section class="text-body">
      <h3>Terms & Conditions</h3>
      <hr>
        <h4 class="text-heading">Service</h4>
        <p>
        <div class="text-heading">Service Provided at our discretion</div>
        <div class="paragraph"><span>&#8226;</span> There is no obligation to provide any service to any person except
            when there is a signed contract outlining so.</div>
        <div class="paragraph"><span>&#8226;</span> No reason obliges us to sign any contract with any person. All contracts are sign at our discretion.</div>
        <div class="paragraph"><span>&#8226;</span>We have no obligation to provide reasons for accepting or rejecting any contract.</div>
        <div class="text-heading">Service Guarantee</div>
        <div class="paragraph"><span>&#8226;</span> Our services should used by persons qualified to make judgments.</div>
        <div class="paragraph"><span>&#8226;</span> Judgment and risk is therefore the responsibility and obligation of those using the service</div>
        <div class="text-heading">Utilization of service</div>
         <div class="paragraph"><span>&#8226;</span>Use of our service is premised on presumption that it will be of benefit to all second parties (People other than the ones using the service who are directly involved)</div>
        <div class="paragraph"><span>&#8226;</span>Users of service must ensure that third parties are given adequate protection from any incidental harm</div>
        <div class="paragraph"><span>&#8226;</span>
            Users will not use our service to jeopardize the safety and well being of any entity. Both human and non human, including the user and
            us the services provider.
        </div>
        <div class="paragraph"><span>&#8226;</span>The user bears all responsibility for all mis-use of this service.</div>
        </p>
      <div class="heading">Privacy & Data</div>
        <div class="paragraph"><span>&#8226;</span> All information is owned by its authors
            and those with legitimate rights to such information. </div>
      <div class="paragraph"><span>&#8226;</span> Where ownership of information is a result of delegation. Information must be used while
        respecting the terms and conditions of information delegation</div>
        <div class="paragraph"> All information about usage of the service belongs to the company.</div>
                <div class="text-heading">Storage of information</div>
        <div class="paragraph"> All information is stored temporarily in a cache to optimize processing</div>
        <div class="paragraph"> Private information that is stored on permanent storage
            will go through a gradual be de-anonymised process until it will eventually be deleted
            unless external contractual obligations (such as commercial bank records if such was applicable)</div>
        <div class="paragraph">Private information is information that is characteristic to an individual.</div>
        <div class="paragraph">Information in the public domain is public information unless such information ended
            in the public domain through an unfair process such as one which violated the rights of its authors e.g.
            through theft and piracy.</div>

      </p>
    </section>
  </div>
  </div>
{% endblock %}
